.histories-container {
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
  max-height: 40vh;
  overflow-y: scroll;
}
.history-element {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 5px 0px;
  padding: 5px 0px;
}

.history-title {
  position: sticky;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
}

.highlight {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
span {
  width: 50%;
  border: none;
}
