.parkings-list {
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 14rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
}
.parkings-list h3 {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.parkings-list p {
  cursor: pointer;
}

.parkings-list p:hover {
  color: white;
}
